		<div id="page-title-pro">
			<div class="container">
				<div class="row" style="text-align:center;">
					<h1>Questions? Look here.</h1>
					<h6>Can’t find an answer? Call us at (855) 123-4567 or email <a href="mailto:stream@yourwebsite.com">help@skrn.com</a></h6>
				</div><!-- close .row -->
			</div><!-- close .container -->
		</div><!-- close #page-title-pro -->

        <br><br>
		
		<div id="content-pro">
			
  	 		<div class="container">
				
				
				<div class="row">
					<div class="col-md">
						<h6 class="light-weight-heading">What is Stream?</h6>
						<p>Stream is a special website designed using MEAN stack to upload and stream videos contents and to see latest videos.
                        Stream allows us to watch youtube videos inside the app itself.</p>
						<hr>
						<h6 class="light-weight-heading">Membership</h6>
						<p>An online provider of entertainment (music, movies, etc.) that delivers the content via an Internet connection to the subscriber's computer, TV or mobile device. Netflix, Amazon Prime Video, Hulu, Spotify and Apple Music are high-profile examples.</p>
						<hr>
						<h6 class="light-weight-heading">Streaming Devices</h6>
						<p>Streaming media devices connect your TV or home theater to the internet, allowing you to stream content (video, music, movies and sports) through a streaming TV 
                            service provider or app. Smart TVs are essentially a television with streaming apps built in.</p>
					</div><!-- close .col-md -->
					
					
					<div class="col-md">
						<h6 class="light-weight-heading">MEAN Stack</h6>
						<p>The MEAN stack is JavaScript-based framework for developing web applications. MEAN is named after MongoDB, Express, Angular, and Node, the four key technologies that make up the layers of the stack.</p>
						<hr>
						<h6 class="light-weight-heading">TV Shows &amp; Movies</h6>
						<p>TV series and cartoons are often referred to as 'shows' in American English. Movies would not, although years ago they sometimes were called 'picture shows.</p>
						<hr>
						<h6 class="light-weight-heading">Get Started</h6>
						<p>There are three basic tiers of audio live streaming equipment: Low—Medium Quality: For example the built-in microphone on entry-level and prosumer cameras. Medium-High Quality: USB and 3.5mm microphones,
                             or built-in microphones on professional live video cameras. Professional Quality: XLR microphones.</p>
					</div><!-- close .col-md -->
				</div><!-- close .row -->
				
				
				<div class="clearfix"></div>
			</div><!-- close .container -->
			
			
		</div><!-- close #content-pro -->
